/*  */
#dbe4ff
#bac8ff 
#91a7ff
#5c7cfa
#4c6ef5
#364fc7
/*  */

/* general, base.html */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3.5px #bac8ff;
  border-radius: 4px;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
}

body {
  position: relative;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  color: #343a40;
  font-size: 1.6rem;
  padding-top: 0.1rem;
  margin: 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #364fc7;
  color: #dbe4ff;
  z-index: 999;
}

.retrain-form {
  position: absolute;
  margin-right: 0;
  top: 50%;
  right: 2rem;
  transform: translate(0, -50%);
}

.train-btn {
  background-color: #dbe4ff;
  color: #364fc7;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.train-btn:hover {
  background-color: #e4eafc;
  color: #2d47ca;
}

.nav-link:visited,
.nav-link:link {
  text-decoration: none;
  font-size: 2rem;
  color: #dbe4ff;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
}

.header {
  position: fixed;
  padding: 2rem 0.2rem;
  width: 100%;
  top: 8rem;
  /* margin-bottom: 5.4rem; */
  z-index: 999;
  background-color: #fff;
}

h1 {
  /* position: fixed; */
  margin: 0 auto;
  padding: 0.6rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05rem;
  /* color: #364fc7; */
  background: -webkit-linear-gradient(#2541cc, #748cee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-loader {
  /* display: flex; */
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: #f1f3f5b8;
  backdrop-filter: blur(5px);
  z-index: 100;
  color: #4263eb;
  font-size: 1.8rem;
  font-style: italic;
}

.retrain-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f3f5b8;
  backdrop-filter: blur(5px);
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 1300;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f3f5b8;
  backdrop-filter: blur(5px);
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  margin: 0 auto;
  padding: 2rem;
  height: 13rem;
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 2rem;
  color: #4263eb;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader-text {
  color: #2d47ca;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
}

/* INDEX.html -----------------*/

.main-container {
  position: relative;
  margin-top: 16.4rem;
  padding-top: 4rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.555),
      rgba(255, 255, 255, 0.219)
    ),
    url("images/concrete.jpg.jpg");
  background-position: center;
  background-size: cover;
}

.form-values {
  justify-content: center;
  margin: 4.6rem auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 4.8rem;
  /* justify-items: center; */
  align-items: center;
}

.form-values div {
  position: relative;
  width: 100%;
}

.form-values div i {
  visibility: hidden;
  position: absolute;
  top: 1.9rem;
  right: 2.5rem;
}

.error-message {
  visibility: hidden;
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 1.4rem;
}

.form-values div.error input {
  border-color: #e74c3c;
  box-shadow: 0 0 0 3px #e66e6181;
}

.form-values div.error .error-message {
  visibility: visible;
  color: #e74c3c;
}

.form-values div.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-values div.success i.fa-check-circle {
  visibility: visible;
  color: #2d47ca;
}

.input-box {
  outline: none;
  border: 2px solid #2d47ca;
  border-radius: 5px;
  height: 5rem;
  width: 95%;
  padding: 0 1rem;
  font-size: 2rem;
  color: #2d47ca;
  background: none;
  display: flex;
}

.form-label {
  position: absolute;
  top: 1.8rem;
  left: 1rem;
  font-size: 1.7rem;
  padding-right: 4rem;
  color: #213dca;
  cursor: text;
  transition: all 0.2s;
}

.input-box:focus ~ .form-label,
.input-box:not(:placeholder-shown).input-box:not(:focus) ~ .form-label {
  top: -0.7rem;
  font-size: 1.4rem;
  background-color: #f1f3f5;
  color: #1836ca;
  padding: 0 0.3rem;
}
.form-btn {
  grid-column: 1 /-1;
  align-self: center;
  justify-self: center;
  width: auto;
  height: 4.8rem;
  font-weight: 600;
  font-size: 2.4rem;
  color: #364fc7;
  background-color: #f1f3f5;
  border: 2px solid #2d47ca;
  border-radius: 0.8rem;
  padding: 0.8rem 2.4rem;
  transition: all 0.3s;
}

.form-btn:hover,
.form-btn:active {
  background-image: linear-gradient(to right bottom, #4c6ef5, #364fc7);
  color: #f1f3f5;
  /* border: none; */
}

.balls {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 10rem;
  height: 10rem;
}

.balls div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #4c6ef5;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.balls div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}
.balls div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}
.balls div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-7rem);
  }
}

/* PREDICT CSV PAGE ----------- */

.main-container {
  min-height: 68vh;
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
}

.csv-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.csv-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.csv-box label {
  font-size: 2.4rem;
  color: #364fc7;
  line-height: 1.3;
}

.csv-box input {
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
  /* padding: 0.5rem; */
}

.csv-box input,
textarea {
  background-color: #f8f9fa;
  color: #4263eb;
  font-weight: 600;
}

::-webkit-file-upload-button {
  color: #f8f9fa;
  padding: 10px;
  background-color: #4263eb;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
::-webkit-file-upload-button:hover {
  background-color: #364fc7;
}

.csv-error-message {
  height: 2rem;
  /* width: 90%; */
  padding: 0.5rem 2rem;
  border-radius: 5px;
  text-align: center;
  color: #e74c3c;
  font-size: 1.6rem;
  font-style: italic;
}

.error-style {
  background-color: #ffa8a878;
  border: 1px solid #d78f88;
}

.result-csv a {
  color: #4263eb;
}

.result-csv a:hover,
.result-csv a:active {
  text-decoration: none;
  color: #364fc7;
}
